<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary desktop-only">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img class="img-fluid" src="{{ salon:logo }}" alt="{{ salon:logo:alt }}" width="170" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {{ nav:collection:pages include_home="true" }}
                <li class="nav-item">
                    <a class="nav-link text-white {{ is_current ?= 'active' }}" aria-current="page" href="{{ url }}">{{
                        title}}</a>
                </li>
                {{ /nav:collection:pages }}
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar bg-body-tertiary fixed-top mobile-only navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img class="img-fluid" src="{{ salon:logo }}" alt="{{ salon:logo:alt }}" width="170" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Mobile Menu</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    {{ nav:collection:pages include_home="true" }}
                    <li class="nav-item">
                        <a class="nav-link text-white {{ is_current ?= 'active' }}" aria-current="page"
                            href="{{ url }}">{{
                            title}}</a>
                    </li>
                    {{ /nav:collection:pages }}
                </ul>
            </div>
        </div>
    </div>
</nav>