<section id="hero-bg">
    <div class="container">
        {{# <h1 class="text-uppercase text-white mb-4"><span>Welcome To</span>
            <br>
            Ginger's Hair Salon
        </h1> #}}
        <h1 class="text-white mb-4">
            Elevating Hair Mastery, <br> Redefining Beauty
        </h1>
        <div>
            <a href="" class="btn btn-white text-uppercase">Book Now</a>
            <a href="" class="btn btn-white text-uppercase">Leave a Review</a>
        </div>

        {{# <div class="slogan-text text-center text-white align-self-end">
            <h3>Elevating Hair Mastery, Redefining Beauty</h3>
        </div> #}}
    </div>
</section>