<section id="hero-bg">
    <div class="container">
        <h1 class="text-white mb-4">
            {{ hero_text }}
        </h1>
        {{ hero_ctas }}
            <a href="{{ url }}" class="btn btn-white text-uppercase">{{ text }}</a>
        {{ /hero_ctas }}
    </div>
</section>
<section id="our-team" class="section">
    <div class="container">
        <h2 class="text-center">Our Team</h2>
        <p class="text-center fs-5">Click on a team member to learn more about their services and prices</p>
        <div class="row mt-5">
            {{ partial:partials/homepage/team }}
        </div>    
    </div>
</section>

<section id="imageGallery">
    <div class="container-fluid">
        <div class="row d-none d-sm-block">
            <div class="col-xs-12 col-sm-4 px-0"><img src="{{ gallery_image_1 }}" alt="{{ alt }}" class="img-fluid"></div>
            <div class="col-xs-12 col-sm-4 px-0"><img src="{{ gallery_image_2 }}" alt="{{ alt }}" class="img-fluid"></div>
            <div class="col-xs-12 col-sm-4 px-0"><img src="{{ gallery_image_3 }}" alt="{{ alt }}" class="img-fluid"></div>
        </div>
        <div class="row d-sm-none">
            <img src="{{ gallery_image_1}}" alt="{{ alt }}" class="img-fluid">
            <img src="{{ gallery_image_2}}" alt="{{ alt }}" class="img-fluid">
            <img src="{{ gallery_image_3}}" alt="{{ alt }}" class="img-fluid">
        </div>
    </div>
</section>

<section id="pricing" class="section">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-sm-12">
                <h2>{{ pricing_title }}</h2>
                <div class="row mt-4 pt-2">
                    {{ pricing_elements }}
                    <div class="col-sm-4">
                        {{ pricing_information }}
                    </div>
                {{ /pricing_elements }}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-us" class="section bg-color1">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-sm-5">
                <h2 class="mb-3">{{ about_title }}</h2>
                <p>{{ about_text }}</p>
                <a href="{{ about_cta_link }}" class="btn btn-black text-uppercase">{{ about_cta_text }}</a>
            </div>
            <div class="col-sm-6 offset-sm-1">
                <img src="{{ about_image }}" alt="{{ about_image:alt }}" class="img-fluid rounded">
            </div>
        </div>
    </div>
</section>

<section id="leave-review" class="section">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-sm-6">
                <img src="{{ reviews_image }}" alt="{{ reviews_image:alt }}" class="img-fluid rounded">
            </div>
            <div class="col-sm-5 offset-sm-1">
                <h2 class="mb-3">{{ reviews_title }}</h2>
                {{ reviews_text }}</p>
                <a href="{{ reviews_cta_url }}" class="btn btn-black text-uppercase">{{ reviews_cta_text }}</a>
            </div>
        </div>
    </div>
</section>
<section id="social-media-banner" class="section" style="background-image: url('{{ social_background_image }}');">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-uppercase text-white">{{ social_banner_text }}</h2>
                {{ salon:social_media }}
                    <a href="{{ social_media_url }}" target="_blank">
                        <img src="{{ social_media_logo }}" alt="{{ social_media_logo:alt }}" class="img-fluid">
                    </a>
                {{ /salon:social_media }}
            </div>
        </div>
    </div>
</section>

