{{ collection:pages team_hero_image:exists="true" limit="1" }}
<section id="team_member_hero" style="background-image: url('{{ team_hero_image }}');">
{{ /collection:pages }}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-left">
                <h1 class="text-uppercase heading-lg">{{ title }}</h1>
                {{ if online_booking }}
                <a href="{{ online_booking_url }}" class="btn btn-white">Book Now</a>
                {{ else }}
                <a href="tel:{{ salon:phone_number }}" class="btn btn-white">Book Now</a>
                {{ /if }}
            </div>
        </div>
    </div>
</section>
<section id="bio" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-7 col-xl-8 pt-4">
                <p class="lead">
                    {{ biography }}
                </p>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 offset-lg-1">
                <img src="{{ team_member_picture }}" alt="{{ team_member_picture:alt }}" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <h2 class="pt-1">My Services</h2>
            <div class="col-sm-4 col-md-2">
                <hr>
            </div>
        </div>
        <div class="row">
            {{ if services }}
                {{ services }}
                    <div class="col-sm-4">
                        <h3 class="pt-3 pb-3">{{ service_name }}</h3>
                        {{ bard_field }}
                    </div>
                {{ /services }}
            {{ else }}
                <p class="lead">Prices are based on consultation. Contact me to get more information.</p>
            {{ /if }}
        </div>
    </div>
</section>

{{ collection:pages footer_banner_image:exists="true" limit="1" }}
<section class="footer-banner" style="background-image: url('{{ footer_banner_image }}');">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-left">
                <h2 class="text-white">{{ footer_banner_title }}</h2>
                {{ if online_booking }}
                <a href="{{ online_booking_url }}" class="btn btn-white">Book Now</a>
                {{ else }}
                <a href="tel:{{ salon:phone_number }}" class="btn btn-white">Book Now</a>
                {{ /if }}
                <a href="{{ salon:get_directions_url }}" class="btn btn-white">Get Directions</a>
            </div>
        </div>
    </div>
</section>
{{ /collection:pages }}