<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mx-auto">
                <h1 class="text-uppercase">{{ title }}</h1>
                {{ if online_booking }}
                    <a href="{{ online_booking_url }}" class="btn btn-cta">Book Now</a>
                {{ else }}
                    <a href="tel:{{ salon:phone_number }}" class="btn btn-cta">Book Now</a>
                {{ /if }}
            </div>
        </div>
    </div>
</section>
<section id="bio">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>
                    {{ biography }}
                </p>
            </div>
            <div class="col-sm-6">
                    <img src="{{ team_member_picture }}" alt="{{ team_member_picture:alt }}" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {{ services }}
            </div>
        </div>
    </div>
</section>