section#hero-bg {
    background-image: url('../../public/assets/home/hero-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 300px 0px;

    h1 {
        line-height: 52px;
    }

    .btn:last-child {
        margin-left: 10px;
    }
}

/* Team Members */

section#our-team {
    .col-sm-3 {
        a {
            text-decoration: none;
            color: #000;
        }
    }
}


section#social-media-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 200px 0px;

    a {
        display: inline-block;

        img {
            max-width: 250px;
        }
    }
}

/* Media Queries */
@media (max-width: 1799px) and (min-width: 1200px) {
    section#hero-bg {
        padding: 200px 0px;
    }
}


/* Home Page Carousel Team */
// .carousel-control-prev { margin-left: -140px; }
// .carousel-control-next { margin-right: -140px; }
// .carousel-control-prev-icon, .carousel-control-next-icon { 
//     width: 4em;
//     height: 4em;
//  }

// @media (max-width: 767px) {
//     .carousel-inner .carousel-item>div {
//         display: none;
//     }

//     .carousel-inner .carousel-item>div:first-child {
//         display: block;
//     }
// }
// .carousel-inner .carousel-item.active,
// .carousel-inner .carousel-item-next,
// .carousel-inner .carousel-item-prev {
//     display: flex;
// }

// /* medium and up screens */
// @media (min-width: 768px) {

//     .carousel-inner .carousel-item-end.active,
//     .carousel-inner .carousel-item-next {
//         transform: translateX(25%);
//     }

//     .carousel-inner .carousel-item-start.active,
//     .carousel-inner .carousel-item-prev {
//         transform: translateX(-25%);
//     }
// }

// .carousel-inner .carousel-item-end,
// .carousel-inner .carousel-item-start {
//     transform: translateX(0);
// }