#team_member_hero { 
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 200px 0px 50px 0px;
    color: #fff;
}

#bio { 
    img { width: 100%; margin-top: -160px }
}

#services { background: #f1f1f1; padding: 6em 0; }

.footer-banner {
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 100px 0px;
}

 // Media Queries
 @media (max-width: 991px){
    #bio img { margin-top: 0px; padding-top: 1em; }
 }